<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="/styles1.css">
</head>
<body>

<div class = "interview">
<ul>
  <h1 class = "head">INTERVIEW TRACKER</h1>
 
  <ul>
    <li><div class= "logout"></div> 
      <a href = "/logout">Logout</a></li>
<li><a href="/">Home</a></li>
  </ul>
  </div>
</ul>
</div>


<div class="login-page">
  <div class="form">
    <form class="register-form"></form>
     
   
      <form class="login-form">
        <input type="text" name= "name" placeholder="Question Name"/>
        <input type="password" name ="link" placeholder="Link"/>
        <input type = "text" name= "topic" placeholder="Topic"/>
        <button>Add</button>
        
      </form>
    </div>
  </div>

  

<%- include('partials/footer'); -%>


<script>
    
    const form = document.querySelector('.login-form');
    
  
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
  
      
      // get values
      const name = form.name.value;
      const link = form.link.value;
      const topic = form.topic.value;
      const approved = false;
      
  
      try {
        const res = await fetch('/addquestion', {
          method: 'POST',
          body: JSON.stringify({ name, link , topic ,approved }),
          headers: {'Content-Type': 'application/json'} 
        });
       if(res){
         console.log('question added');
       }else{
         console.log('question NOT added');
       } 
       
      }
      catch (err) {
        console.log(err);
      }
    });
  </script>
  