<html>
<head>
    <title>Practice</title>
</head>
<body>
       <% topic.forEach(function(value){ %>
         <li><a href = "/topic/<%= value.topic %>"><%= value.topic %> </a></li>
         <br>
      <% }); %> 
 

</body>


</html>